/*RESET*/
*{margin:0; padding:0;}

body{font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #333; background:url(imagens/...) repeat-x;}
#box{width:1000px; margin: 0 auto;}

/*Topo*/
#header{right: 208px; width: 1000px; border-bottom: 9px solid #ccc;}
#header_logo{float: left; margin: 25px 0px 0px 0px; border: 1px solid #CCC;}
#header_anuncio{float: right; padding: 2px; border: 1px solid #CCC; margin: 7px 0 0 0;}

#header_search{width: 1000px; height: 40px; float: left; margin-top: 8px;}
#header_search form{width: 678px; display: block; margin: 0 auto;}
#header_search span{ font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #FFF; font-weight: bold;}
#header_search input{ font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #999; font-weight: bold; margin: 5px 0; padding: 5px; border: 1px solid #333; width: 430px;}
#header_search .btn{width: 31px; height: 30px; margin: 0; padding: 0; float: right; margin: 5px 0; background: url(imagens/search_icon.png) no-repeat;}

#header_menu{float: left; width: 1000px;}
#header_menu .menu_paginas{list-style: none; float: left;}
#header_menu .menu_paginas li{width: 80px; height: 52px; background: #069; display: inline; float: left; margin: 2px 10px 2px 0; text-align: center; padding: 0 5px; }
#header_menu .menu_paginas li a {text-decoration: none; font: 20px Georgia, "Times New Roman", Times, serif; text-transform: lowercase; color: #FFF; }
#header_menu .menu_paginas li:hover{background:#036;}                                


#header_menu .menu_categorias{float: left; line-height: normal;}
#header_menu .menu_categorias li{display: inline; font: 26px "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 10px 17px 0px 17px; font-weight: bold; float: left;}
#header_menu .menu_categorias li a {text-decoration:none}
#header_menu .menu_categorias li .noticias{color: #C30;}
#header_menu .menu_categorias li .esportes{color: #093;}
#header_menu .menu_categorias li .entretenimento{color: #F90;}
#header_menu .menu_categorias li .tecnologia{color: #069;}
#header_menu .menu_categorias li a:hover{text-decoration: underline;}  

/*Left Sidebar*/
#sidebar_left{ width: 150px; float: left;}
#sidebar_left ul{list-style: none; margin:0 0 10px 0; float: left; border-bottom:5px solid #ccc; width: 150px; padding: 5px 2px}
#sidebar_left ul li{float: left; width: 142px; padding: 2px; border-bottom: 1px solid #ccc}
#sidebar_left ul li a {text-decoration: none; color: #333;}
#sidebar_left ul li:hover{background-color: #CCC;}
#sidebar_left .noticias {color: #C30; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 0 ;}
#sidebar_left .esportes {color: #093; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 0 ;}
#sidebar_left .entreterimento {color: #F90; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 0 ;}
#sidebar_left .tecnologia {color: #069; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 0 ;}
#sidebar_left .especial {color: #639; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; margin: 8px 0 0 0 ;}
#left_adsence{float: left; padding: 2px; border: 1px solid #999; display: block; margin:0 10px 10px 10px; width: 124px;}


/*Content - Responsável por todo o conteúdo*/
#content{width: 630px; float: left; padding: 0 5px; margin: 0 5px;}
#content_destaque{background: #F90; width: 630px; border-bottom: 5px solid #CCC; padding-bottom: 5px; margin-bottom: 5px;}
#content_destaque_conteudo{}
#content_destaque_destaque{}

/*ENTRETERIMENTO*/
#content_entreterimento{background: rgb(26, 148, 148); width: 630px; border-bottom: 5px solid #CCC; padding-bottom: 5px; margin-bottom: 5px;}
#content_entreterimento_conteudo{}
#content_entreterimento_anuncio{}

/*ESPORTES*/
#content_esportes{background: #30C; width: 630px; border-bottom: 5px solid #CCC; padding-bottom: 5px; margin-bottom: 5px;}
#content_esportes_conteudo{}
#content_esportes_comentados{}

/*TECNOLOGIA*/
#contet_tecnologia{background: #F06; width: 630px; border-bottom: 5px solid #CCC; padding-bottom: 5px; margin-bottom: 5px;}
#content_tecnologia_destaque{}
#content_tecnologia_conteudo{}

/*VISTOS*/
#content_vistos{background: #399; width: 630px;}
#content_vistos_conteudo{}
#content_vistos_anuncio{}

/*RIGHT SIDEBAR*/
#right_sidebar{width: 200px; float: right; background: #903; height: 500px;}

/*footer*/
#clear{clear: both;}
#footer_all{height: 115px; background: url(imagens/...) repeat-x rgb(245, 242, 242);}
#footer{width: 980px; margin: 0 auto; padding: 15px 10px;}
#footer_txt{}